extends layout

block page-content
    section
        each ass in asses
            article.ass(id='#{ass._id}')
                span.align_left #{ass.date_created}
                span.align_right Average : #{ass.average}
                span.align_left Reports : #{ass.reports}
                p
                    img(src='uploads/#{ass.img}')