extends layout

block page-content
    section
        each ass in asses
            article.ass(id='#{ass._id}')
                p
                    p
                        div.row
                            div.col-md-4 #{ass.date_created}
                            div.col-md-4 Average : #{ass.average}
                            div.col-md-4 Reports : #{ass.reports}
                            div.col-md-4 a(href='api/d/#{ass._id}')
                    p
                        div.row
                            div.col-md-6.col-md-offset-4
                                img(src='uploads/#{ass.img}')